* {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/* CONTACT US CARD FIXED */

.cont-us {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: fixed;
  top: 76%;
  font-size: 8px;
  z-index: 10;
  
}

@media (max-width: 700px) {
  .cont-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 60%;
    right: -45%;
    width: 50px;
    font-size: 8px;
    z-index: 10;
    gap: .2rem
  }

}

/* INSTAGRAM ADJUSTMENT BOOTSTRAP CONFIG */
.card-link+.card-link {
  margin-left: 0 !important;
}

/* ICONS ADJUSTMENT */

box-icon {
  width: 70% !important;
}

/* AZUL CLARO #4683c2 */
/* AZUL OSCURO #31446c */

/* DISINGS CSS  */

.desings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* TARJETAS DE DISINGS */
.card {
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

/* IMAGES EN LAS TARJETAS TAMANO */

.d-block.w-100 {
  max-width: 320px !important;
  height: 300px;
}

/* .card > div{
  display: flex;
  margin-top: 5%;
} */

.card-title.h5 {
  font-size: 15px
}

@media (max-width: 422px) {
  .navbar-brand {
    margin-right: -10px;
    width: 250px;
  }
}


@media (max-width: 1095px) {
  .navbar-brand {
    max-width: 300px;
  }
}

.socials {
  position: relative;
  bottom: 10px;
  right: 2px;
}

.navbar-toggler.collapsed {
  width: 12%;
}

.me-auto.navbar-nav {
  text-align: center;
}

.carousel-indicators {
  margin-left: 0 !important;
}

/* HOME INFORMATION CSS*/

.Home {
  display: flex !important;
  flex-direction: column;
  /* width: 70%; */
}

@media (max-width: 970px) {
  .Home {
    display: flex !important;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
}

.home-access {
  width: 90%;

  font-size: 1rem;
}

.carousel-caption {

  position: static !important;
  /* top: 130px; */

}

/* APPNAVBAR CSS  */

.navbar-toggler-icon {

  position: relative !important;
  right: 7px;

}